src/main/mule/delete-employee.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="delete-employeeFlow" doc:id="c8c8ca59-fd27-4b2b-9102-4f1ad4178069" >
		<http:listener doc:name="Listener" doc:id="c750c47e-5b5a-4ded-a000-a22f267f052f" config-ref="HTTP_Listener_config" path="delete-employee/{employeeID}/{employeeName}" allowedMethods="DELETE"/>
		<logger level="INFO" doc:name="StartLogger" doc:id="05ff01ad-3868-4e2c-ba98-d8ed761b2e5b" message="Delete employee flow started"/>
		<db:stored-procedure doc:name="Stored procedure" doc:id="f1bb8cfb-5a80-4865-a9e0-e45bc1796068" config-ref="Database_Config">
			<db:sql ><![CDATA[{call delete_emp(:empID, :empName)}]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	empID: attributes.uriParams.employeeID,
	empName: attributes.uriParams.employeeName
}]]]></db:input-parameters>
		</db:stored-procedure>
		<ee:transform doc:name="Set Response" doc:id="cd4852bf-3dab-4411-b536-d45d93380944" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"status" : 200,
	"message": "Success"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="End Log" doc:id="d0174942-14c4-4c7b-a6ff-ab33ac53e71e" message="Completed delete employee flow"/>
	</flow>
</mule>
