src/main/mule/update-employee.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="update-employeeFlow" doc:id="3c73d11f-d4f1-47be-94e2-74e984a10ef3" >
		<http:listener doc:name="Update Employee Listener" doc:id="2178989d-d043-4f35-ba39-0d850b1aca65" config-ref="HTTP_Listener_config" path="update-employee" allowedMethods="PUT"/>
		<logger level="INFO" doc:name="Start Log" doc:id="b73f35eb-86b7-4d5b-bfb6-7b55e9747eae" message="Started update employee flow"/>
		<db:update doc:name="Update" doc:id="db0151d7-e63b-4a4c-a8f7-412aed319b48" config-ref="Database_Config">
			<db:sql ><![CDATA[update emp set emp_status=:empStatus where emp_id=:empID]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	empSatus: payload.employee.employeeStatus,
	empID: payload.employee.employeeID
}]]]></db:input-parameters>
		</db:update>
		<ee:transform doc:name="Set Response" doc:id="29fc422c-7c18-4bc7-b8b8-904868501abf" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
{
	response: {
		status: 200,
		message: "Success"
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="End Log" doc:id="c068f713-84b1-4e59-ae37-d345c64da9bd" message="Completed Update Employee Flow"/>
	</flow>
</mule>
